@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@400;500;600;700&family=Kumbh+Sans:wght@300;400;700&family=League+Spartan:wght@500;600;700&family=Mulish:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,600;1,500;1,600&family=Space+Grotesk:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Gabarito', sans-serif;
}

:root {
  --bg-color: rgb(31, 36, 45);
  --second-color: rgb(50, 57, 70);
  --text-color: #fff;
  --main-color: #445D48;
  /* --main-color: goldenrod; */
  --orange-soda: #ff5a3d;

  /* typography */
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-2: 2rem;

  --fw-light: lighter;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;
  --fw-bolder: bolder;

  /* shadow */

   --shadow: 0 .5rem 1rem rgba(0,0,0,0.2);

   /* Spacing */
   --flex-gap: 1.5rem;

/* border */
--border-radius:.5rem;
   /**
   * transition
   */

  --transition-1: all 0.2s ease;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  overflow-x: hidden;
  transition: background-color, color 0.3s ease-in-out; 
  position: relative;
  max-width: 1440px;
  margin: auto;
  background-color: var(--second-color);
}
h1,
h2,
h3,
p {
  font-family: "Inter", sans-serif;
  letter-spacing: 1.5px;
}
span{
    color: var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1.5rem;
    margin-top: 1rem;
    font-size: var(--fs-16);
    font-weight: var(--fw-bolder);
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    letter-spacing: .15rem;
    cursor: pointer;
  }
  .back{
    background-color: transparent;
  }
.subheading {
  font-size: 3rem;
  padding: 4rem 0;
  text-transform: capitalize;
}
.article-post{
    padding: 1rem 5%;
}
.article-post img{
    width: 100%;
    max-height: 40rem;
    padding-bottom: var(--fs-2);
    border-radius: var(--border-radius);
    display: block;
    object-fit: cover;
}
.article-post .details{
    font-size: var(--fs-16);
    padding-bottom: 1rem;
    line-height: 2.5rem;
}
.article-post h3{
    font-size: var(--fs-2);
    padding: 1rem 0;
    color: var(--main-color);
}
.article-post .story-points,
.article-post .story-points-2{
    padding: .5rem 0 .5rem 4rem;
}
.article-post .story-points li,
.article-post .story-points-2 li{
    font-size: var(--fs-16);
    font-weight: var(--fw-light);
    letter-spacing: .1rem;
    line-height: 2.5rem;
    padding: .5rem;
}
.article-post .story-points li::marker,
.article-post .story-points-2 li::marker{
    color: var(--main-color);
}
.article-post .share-button{
     border-radius: var(--border-radius);
    background-color: var(--main-color);
}
.footer{
  background-color: var(--bg-color);
  padding: 2rem;
  margin-top: 5rem;
}
.footer-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap);
  align-items: center;
}
/* .like-section {
  margin: 2rem 0;
} */
.like-button {
  flex-wrap: 1 1 45rem;
}
.share-button{
  flex-wrap: 1 1 45rem;
}
.like-button span{
  color: goldenrod;
}
.comment-section {
  margin-top: 3rem;
}
.comment-form input {
  background: var(--second-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  font-size: var(--fs-16);
  padding: 1rem;
  width: 70%;
  margin-right: 1rem;
  }
.comment-form button {
  padding: .9rem 1.5rem;
}

.comment-list {
  margin-top: 2rem;
  list-style-type: none;
  padding: 0;
}

.comment-list li {
  /* background: #f2f2f2; */
  font-size: var(--fs-18);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}